
<h1 class="page-header">USUÁRIOS - ADMINS</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        Lista de ADMINS CADASTRADOS
        <% if policy(@admins).new? %>
            <%= link_to  new_backoffice_admin_path  do %>
    	        <button type="button" class="btn btn-success btn-circle pull-right", style="margin-top: -5px; "><i class="fa fa-plus"></i>
    	        </button>
            <% end %>
       <% end %> 
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                         <th>Acesso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @admins.each do |admin| %>
                    <tr>
                        <td><%= admin.name %></td>
                        <td><%= admin.email %></td>
                         <td><%= admin.role_i18n %></td>
                        <td class="col-md-2 text text-center">
                            <%= link_to   edit_backoffice_admin_path(admin) do %>
                                <button type="button" class="btn btn-primary btn-circle">
                                    <i class="fa fa-edit"></i>
                                </button>
                            <% end %>
                            <% if current_admin.email != admin.email  %>
                            <%= link_to   backoffice_admin_path(admin), method: :delete ,  class: "btn btn-danger btn-circle" , data: {confirm: t('messages.confirm_msg', item: admin.name)} do  %>
                                    <i class="fa fa-minus"></i>
                            <% end %>
                            <% else %> 
                                
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
            