<h1>Olá, seus dados foram atualizados por (<%= @current_admin.name %>)</h1>
<%= @admin.name %><br>
<%= @admin.email %> <br>

Entre em contato direto com <%= @current_admin.name %> -> <%= @current_admin.email %>